* {font-family: 'Inter'; padding: 0; margin: 0;}

/* Prevent scrolling on the entire page */
html, body {
    overflow: hidden;
    height: 100%;
}

#Home {
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 3vw;

    > #title {
        text-align: center;
    }
}

#createGame {
    width: 100vw;
    height: 100vh;
    display: none;

    > .btnContainer{
        gap: 6vw;
        
        > #joinMatchBtn, #createMatchBtn {
            height: 35vh;
            font-size: 1rem;
        }
    }
}

#pasteCode{
    width: 100vw;
    height: 100vh;
    display: none;

    > .codeContainer {
        flex-direction: column;
        gap: 2vw;
    }
}

#copyCode {
    width: 100vw;
    height: 100vh;
    display: none;

    > .codeContainer {
        flex-direction: column;
        text-align: center;
        
        > .box {
            margin-top: 1vh;
            > .display {
                border: 1px solid #000;
                height: 3vh;
                width: 40vw;
                margin-bottom: 1vh;
            }
        }
    }
}

#gameSection {
    background-color: rgb(207, 154, 232);
    flex-direction: column;
    display: none;
    height: 100vh;
    width: 100vw;
    
    > #pcSection, #duelSection, #playerSection, [id*="Area"]{
        height: 31vh;
        width: 98vw;
    }

    > #duelSection {
        & #dealArea {
            height: 31vh;
            width: 40vw;
            > .cardImage, .deckImage{
                position: absolute;
            }
            > .cardImage {
                transform: rotate(15deg);
                margin-left: 10vw;
                z-index: 0;
            }
        }
        & #duelArea {
            z-index: 1;
            height: 31vh;
            width: 60vw;

            > .pcCardImage{
                position: absolute;
                margin-left: 5vw;
            }
            > .playerCardImage {
                position: absolute;
                right: 5vw;
            }
        }
    }

    > #menu {
        border: 2px solid #000;
        border-radius: 1rem;
        width: 98vw;
        height: 5vh;
        
        > #quitBtn {
            width: 30vw;
        }
        > #info {
            width: 50vw;
            text-align: right;
        }
    }

    .cardImage, .deckImage {
        height: 217px;
        width: 123px;
        border: 1px solid black;
        border-radius: 1rem;
    }


    .statsContainer, .banner {
        flex-direction: column;
        background: #fff;
        color: #000;
        box-shadow: 0 0 1.5rem #000;
        border-radius: 1rem;
        padding: 1.5rem 2.5rem;
        width: 70vw;
        gap: 1rem;
        font-size: 1.2rem;
    }

    .banner {
        position: absolute;
        margin: auto;
        z-index: 10;
    }
}

/* buttons */
.btn {
    padding: 5px 20px;
    width: 40vw;
    border-radius: 1rem;
    border: none;
    background: #18b2ea;
}

#quitBtn {
    color: red;
    background: #cbcbcb;
}

#goBackBtn {
    position: absolute;
    padding: 0rem 1rem;
    top: 5vh;
    left: 6vw;
}

/* helpers */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
