* {
    font-family: "Inter";
    padding: 0;
    margin: 0;
}

/* Prevent scrolling on the entire page */
html,
body {
    height: calc(100vh - env(safe-area-inset-bottom, 0));
}

#Home {
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: calc(100vh - env(safe-area-inset-bottom, 0));
    gap: 3vw;

    > #title {
        text-align: center;
    }
}

#gameSection {
    background-color: rgb(207, 154, 232);
    flex-direction: column;
    display: none;
    height: calc(100vh - env(safe-area-inset-bottom, 0));
    width: 100vw;

    > #pcSection,
    #duelSection,
    #playerSection,
    [id*="Area"] {
        height: 29vh;
        width: 98vw;
    }

    > #duelSection {
        & #dealArea {
            height: 29vh;
            width: 40vw;
            flex-direction: column;
            gap: 1vh;
            > .cardImage {
                width: 28vw;
                height: 23vh;
            }
        }
        & #duelArea {
            z-index: 1;
            height: 29vh;
            width: 60vw;

            > .playerCardImage {
                right: 4vw;
                position: absolute;
            }
            > .pcCardImage {
                right: 24vw;
                position: absolute;
            }
        }
    }

    > #menu {
        border: 2px solid #000;
        border-radius: 1rem;
        width: 98vw;
        height: 5vh;
        bottom: env(safe-area-inset-bottom, 0);

        > #quitBtn {
            width: 30vw;
        }
        > #info {
            width: 50vw;
            text-align: right;
        }
    }

    .cardImage,
    .deckImage {
        height: 25vh;
        width: 30vw;
        border: 1px solid black;
        border-radius: 1rem;
    }

    .statsContainer,
    .banner {
        flex-direction: column;
        background: #fff;
        color: #000;
        box-shadow: 0 0 1.5rem #000;
        border-radius: 1rem;
        padding: 1.5rem 2.5rem;
        width: 70vw;
        gap: 1rem;
        font-size: 1.2rem;
    }

    .banner {
        position: absolute;
        margin: auto;
        z-index: 10;
    }
}

/* buttons */
.btn {
    padding: 5px 20px;
    width: 40vw;
    border-radius: 1rem;
    border: none;
    background: #18b2ea;
}

#quitBtn {
    color: red;
    background: #cbcbcb;
}

/* helpers */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 430px) {
    .cardImage,
    .deckImage {
        max-width: 180px;
        max-height: 350px;
    }

    [id*="Area"] {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        padding: 5px 20px;
        width: 20vw;
        border-radius: 1rem;
        border: none;
        background: #18b2ea;
    }

    .banner {
        max-width: 800px;
    }
}
